#top-link>ul>li{
	height: 30px;
	display: inline-block;
	margin-left: 646px;

}
#top-link{
	background-color: rgb(227,194,113);
	font-size: 8px;
	float: right;
}
.link-two,ul,li{
	display: inline-block;
	font-size: 20px;
	padding: 0px 15px;
	margin:8px;
}
.link-two li:hover{
	font-size:20px;
	background:gray;
}

img{
	width:216px;
	float:left;
	margin:9px;

}
section{
	/*border-top: 2px solid black;*/
	padding: 5px;
    float: left;
    width: 880px;
    margin-left: 287px;
    margin-top: -440px;
    padding-left: 96px;
    height: 422px;
    font-size: 21px;
	
}

aside{
	padding: 4px;
    margin-right: -906px;
    float: right;
    width: 113%;
    margin-top: 20px;
    font-size: 15px;
}

.maincontainer{
	display:flex;
	border-bottom: 2px solid black;*/
	flex-wrap:nowrap; 
	width: 250px;
	padding-right: 15px;
	display: block;
}
.maincontainer>img
{
	width: 465px;
    height: 350px;
    float: left;
    margin-left: 381px;
    margin-top: 50px;
}
/*.div1,img,section{
	border-top: 2px solid black;*/
.three{
	/*border:2px solid black;*/
	float: right;
	margin-left: 876px;
	padding-left: 10px;

}
.three>img{
	width: 467px;
    float: left;
    margin: 9px;
    margin-left: -508px;
    margin-top: -301px;
    height: 350px;
}